/*Importando fontes do site do Google*/

@import url('https://fonts.googleapis.com/css?family=Roboto:300,400');
@import url('https://fonts.googleapis.com/css?family=Merriweather');

/*Configurando o corpo do site inteiro*/
body {
    height: 100%;
    width: 100%;
    margin: 0px;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: #666666;
    border-top: 1px solid #d8d8d8;
    width: 93.5%;
    margin: auto;
    margin-top: 28px;
}

/*Configurando todos os títulos H1 do site*/
body h1 {
    font-family: 'Merriweather', serif;
    font-size: 20px;
    color: #666666;
}

/*Configura o topo da página,área de pesquisa*/
.pesquisa {
    width: 60%;
    margin: auto;
    margin-top: 30px;
    border-radius: 4px;
    border-color: #e6e6e6;
    background-color: #fafafa;
}
.caixaPesquisa {
    width: 55%;
    height: 40px;
    background-image: url(../imagens/icon-search.svg);
    background-repeat: no-repeat;
    background-position: 12px;
    background-color: #fafafa;
    padding-left: 41px;
    border: none;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: #666666
}
.filtro {
    width: 22%;
    height: 40px;
    margin-top: -40px;
    background-color: white;
    margin-right: 112px;
    float: right;
    border: none;
    box-shadow: 0px 1px #e6e6e6;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: #666666
}
.avancado {
    width: 60%;
    margin: auto;
}
.selecionaData {
    width: 25%;
    height: 40px;
    margin-left: 5px;
    padding-left: 5px;
    background-color: #fafafa;
    border: none;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: #666666
}
.btpesquisa {
    background-color: #666666;
    border-radius: 5px;
    color: white;
    padding: 10px;
    margin-left: 30px;
}
.btpesquisa:hover {
    background-color: #fafafa;
    border: 1px solid #666666;
    color: #666666;
    transition: 0.5s;
}


/*Configura a área principal do site*/
.corpo {
    margin: auto;
    width: 60%;
    margin-top: 50px;
}

/*Configura a parte a esquerda do site*/
.esquerda {
    width: 13%;
    float: left;
    margin-right: 15px;
}
.retangulo {
    border: 2.5px solid #1a1a1a;
    border-collapse: collapse;
    width: 50px;
}


/*Configura a parte a direita do site*/
.direita {
    width: 85%;
    float: left;
    margin-left: 0px;
}

/*Oculta informação*/
.semResultado {
    display: none;
}

/*Configurando cards com as matérias*/

/*Configura matérias que possuem imagem*/
.materiaComFoto {
    width: 100%;
    height: 163px;
    padding-bottom: 19px;
    margin-bottom: 19px;
    border-bottom: 1px solid #d8d8d8;
}
.imagem {
    width: 35%;
    float: left;
}
.titulo {
    width: 55%;
    height: 50px;
    float: left;
    margin-bottom: 3px;
    margin-left: 15px;
    margin-top: 0px;
}
.resumo {
    width: 55%;
    height: 38px;
    float: left;
    margin-top: 0px;
    margin-left: 15px;
    margin-bottom: 40px;
}
.rodape-article {
    width: 25%;
    margin-top: 0px;
    margin-left: 15px;
    margin-right: 8px;
    font-size: 10px;
    float: left;
}
.social {
    width: 30%;
    float: left;
    margin-left: 0px;
    margin-right: 5px;
}
.compartilhar {
    float: left;
    margin-right: 5px;
    margin-left: 0px;
}


/*Configura as matérias que não possuem imagem*/
.materiaSemFoto {
    width: 100%;
    height: 163px;
    padding-bottom: 19px;
    margin-bottom: 19px;
    border-bottom: 1px solid #d8d8d8;
}
.materiaSemFoto .titulo {
    float: left;
    width: 100%;
}
.materiaSemFoto .resumo {
    float: left;
    width: 100%;
}
.materiaSemFoto .rodape-article {
    float: left;
}
.materiaSemFoto .compartilhar {
    float: left;
    margin-right: 5px;
}

/*Configura o rodapé da página*/
.rodape {
    clear: both;
    width: 60%;
    height: 48px;
    margin: auto;
    margin-top: 41px;
    margin-bottom: 47px;
    border-top: 5px solid #000000;
    border-bottom: 1px solid #1a1a1a;
}
.maisMaterias {
    width: 80%;
    margin: 12px 10% 11px 10%;
    height: 25px;
    background-color: #fff;
    font-family: 'Merriweather', serif;
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    color: #1a1a1a;
    border: none;
    cursor: pointer;
}